body {
    margin: 0;
    padding: 0;
    color: #0d0d0d;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    background: url('/pexels-life-of-pix-4291.jpeg') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

#bgimg {
    height: 100vh;
    width: 100%;
    background: linear-gradient( to right,   rgba(0, 255, 0, 0.4), rgba(0, 255, 0, 0.2), rgba(51, 51, 77, 0.1));
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.mid { 
    background: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    margin-left: 5vw; 
    position: absolute;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    letter-spacing: 1.5px;
}

hr {
    border-top: 2px solid black;
    margin: auto;
    width: 40%;
}

#countdown {
    padding-top: 1rem;
    display: flex;
    align-self: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.bottomleft {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    margin: 2rem 0;
    position: absolute;
    display: flex;
    align-self: flex-end;
    justify-content: center;

    
}

.bottom {
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width: 660px) {

    .mid {
        width: 100%;
        padding: 1rem;
        margin: 0;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1px;

    }

    #countdown {
        font-size: 1.6rem;
        font-weight: 500;
        padding-top: 0;
    }

    .bottomleft {
        width: 100%;
    }

    .bottom {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 450px) {
    
    .mid {
        padding: 0;
    }
    h1 {
        font-size: 1.8rem;
    }

    .bottomleft {
        margin: 1.5rem 0;
        width: 100%;
    }

    .bottom {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 1.6rem;
    }

    .bottomleft {
        margin: 1rem 0;
        width: 100%;
    }

    .bottom {
        font-size: 1.3rem;
        font-weight: 500;
    }
}